.container {
  margin-top: 25px;
  margin-bottom: 250px;
}

.school_name {
  font-size: 20px;
}

.degree {
  color: rgb(99, 99, 99);
}

.coursework {
  border-bottom: 1px solid black;
}

.course {
  color: rgb(65, 65, 65);
  background-color: rgb(223, 223, 223);
  border-radius: 8px;
  padding: 6px;
  font-size: 13px;
}
