.container {
  margin-top: 25px;
  margin-bottom: 250px;
}

.experience_col {
  border-left: 1px solid rgba(0, 0, 0, 0.26);
}

.company_name {
  font-size: 20px;
}

.position {
  font-size: 18px;
  color: rgb(99, 99, 99);
}

.description {
  font-size: 16px;
}
