.container {
  margin-top: 100px;
  margin-bottom: 25px;
}

.footer_text {
  font-size: 16px;
}

.name {
  color: #3273dc;
}

.social_btn {
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  transition: 0.3s;
}

.social_btn:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.social_icon {
  display: block;
}

.email,
.email:hover {
  border-color: rgb(31, 160, 49);
  color: rgb(31, 160, 49);
}

.github,
.github:hover {
  border-color: rgb(114, 1, 114);
  color: rgb(114, 1, 114);
}

.linkedin,
.linkedin:hover {
  border-color: rgb(0, 140, 255);
  color: rgb(0, 140, 255);
}

.resume,
.resume:hover {
  border-color: rgb(202, 0, 0);
  color: rgb(202, 0, 0);
}
