.container {
  margin-top: 25px;
  margin-bottom: 100px;
}

.project_name {
  font-size: 20px;
}

.description {
  font-size: 16px;
  display: inline-flex;
}

.highlight_link {
  color: black;
  padding: 0px 2px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  text-decoration: none;
}

.highlight_link:hover {
  color: black;
  text-decoration: none !important;
  cursor: pointer;
}

.github_link {
  box-shadow: inset 0 -4px 0 rgba(114, 1, 114, 0.3);
}

.github_link:hover {
  box-shadow: inset 0 -55px 0 rgba(114, 1, 114, 0.3);
}

.youtube_link {
  box-shadow: inset 0 -3px 0 rgba(252, 123, 123, 0.685);
}

.youtube_link:hover {
  box-shadow: inset 0 -55px 0 rgba(252, 123, 123, 0.685);
}
