.container {
  margin-top: 25px;
  margin-bottom: 100px;
}

.project_name {
  font-size: 20px;
}

.description {
  font-size: 16px;
  display: inline-flex;
}

.link_container {
  display: flex;
  transition: color 0.1s;
  color: inherit;
}

.link_container:hover {
  cursor: pointer;
  color: var(--blue-color);
}

.link_icon {
  margin: auto;
  color: inherit;
}

.highlight_link {
  color: inherit;
  padding: 0px 2px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  text-decoration: none;
}

.highlight_link:hover {
  color: inherit;
  text-decoration: none !important;
  cursor: pointer;
}

.github_link {
  box-shadow: inset 0 -4px 0 rgba(114, 1, 114, 0.3);
}

.github_link:hover {
  box-shadow: inset 0 -55px 0 rgba(114, 1, 114, 0.3);
}

.github_link_dark {
  box-shadow: inset 0 -4px 0 rgba(128, 35, 128, 0.6);
}

.github_link_dark:hover {
  box-shadow: inset 0 -55px 0 rgba(128, 35, 128, 0.6);
}

.youtube_link {
  box-shadow: inset 0 -3px 0 rgba(252, 123, 123, 0.685);
}

.youtube_link:hover {
  box-shadow: inset 0 -55px 0 rgba(252, 123, 123, 0.685);
}
